<div class="footer">
    <div class="container">
        <div class="flex-outer flex-horizontal-center t-align-c">
            <div class="flex-inner">
                <span class="bold">Title</span>
                <ul>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
            </div>

            <div class="flex-inner">
                <span class="bold">Title</span>
                <ul>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
            </div>

            <div class="flex-inner">
                <span class="bold">Title</span>
                <ul>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                    <li>link</li>
                </ul>
            </div>
        </div>

        <div class="divider-sm"></div>

        <div class="flex-outer flex-horizontal-center t-align-c">
            <div class="flex-inner">
                <span class="brand-icon">
                    <a routerLink="/">
                        <i class="fas fa-rocket fa-lg"></i>                          
                    </a>
                </span>

                <a routerLink="/">App Title</a>
            </div>

            <div class="flex-inner">
                <a routerLink="/">Cookies</a>
            </div>

            <div class="flex-inner">
                <a routerLink="/">Privacy</a>
            </div>

            <div class="flex-inner">
                <a routerLink="/">Terms And Conditions</a>
            </div>

            <div class="flex-inner">
                <i class="fas fa-copyright"></i>&nbsp;
                <a routerLink="/">Copyright {{currentYear}}</a>
            </div>
        </div>
    </div>
</div>
