<div class="flex-outer">
    <div class="flex-inner">
        <h1 class="t-align-c">Home Page</h1>
    </div>
</div>

<div class="flex-outer">
    <div class="flex-inner">
            <button (click)="createAlbum()">Add Album</button>
            <button (click)="getAlbums()">Get Albums</button>
            <button (click)="deleteAlbum()">Delete Album</button>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus volutpat nibh in condimentum. Nullam placerat viverra erat, ac maximus enim dapibus sed. Sed nec feugiat enim, at molestie nisi. Fusce urna lacus, eleifend at mollis ac, faucibus non enim. Cras sed libero vitae quam dictum posuere quis malesuada augue. Curabitur auctor venenatis lacinia. Aliquam non tincidunt erat. Integer non tellus dictum, aliquet orci quis, aliquam felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque euismod ex id magna rhoncus, eu suscipit dolor scelerisque. Aenean pharetra eget turpis eu vestibulum. Mauris auctor dapibus metus sed tempor. Praesent condimentum, mauris vel auctor tincidunt, magna diam auctor justo, id sollicitudin tellus ante eu nisl. Pellentesque mollis consectetur lectus, sed cursus metus faucibus et.
        </p>

        <p>
            In commodo massa et mi vulputate, id maximus enim condimentum. Mauris ac maximus justo. Phasellus id laoreet nulla. Nunc vitae massa in tellus dignissim venenatis ut at tellus. Vestibulum efficitur scelerisque leo sit amet cursus. Pellentesque non congue neque. Morbi scelerisque odio ut elit dapibus, vitae aliquet lorem tincidunt. Ut ullamcorper enim ac augue ultricies, a volutpat turpis consequat.
        </p>
        
        <p>
            In dignissim lectus eu enim volutpat, at ullamcorper mauris placerat. Donec volutpat malesuada turpis. Nam et justo porta, efficitur urna nec, auctor orci. Mauris risus erat, venenatis eget turpis dapibus, vulputate mollis justo. Maecenas cursus turpis nec elit ultricies iaculis. Aenean blandit lacus ultricies dui condimentum porttitor. Ut suscipit nibh sed vehicula dapibus. In vulputate malesuada enim eu bibendum. Etiam vitae convallis ipsum. Quisque fringilla cursus quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ut mi ornare, dictum mauris at, placerat enim. Vivamus eget rhoncus purus. Pellentesque quam nisi, suscipit sit amet libero id, convallis condimentum mauris.
        </p>

        <p>
            Nam non aliquet tellus. Ut ex tellus, elementum ut velit nec, pharetra varius enim. Vestibulum interdum felis ac purus efficitur blandit. Nam elementum non nulla non dignissim. Sed ut velit vitae odio porttitor volutpat. Etiam semper, est et malesuada scelerisque, leo ex volutpat augue, et tristique ligula nibh ac leo. Vivamus et tortor eget mi laoreet dictum. Fusce luctus augue eu aliquam convallis. Vestibulum sit amet elit turpis. Vivamus eleifend facilisis mauris, mollis vehicula lectus rutrum vitae. Aliquam erat volutpat. Aenean leo ante, pellentesque iaculis nulla ut, pulvinar porta magna. Etiam dictum arcu sit amet massa finibus congue. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                
            Suspendisse lacinia risus in interdum euismod. Integer porta at diam at posuere. Phasellus eget porta lorem. Morbi pulvinar mauris urna, et molestie libero aliquam sit amet. Nunc eget justo sodales, efficitur nisl cursus, mollis eros. Duis nisi ante, imperdiet vitae nisi eget, interdum sagittis sem. Praesent elementum eros non interdum consectetur. Cras eget mauris faucibus, scelerisque velit non, aliquet ligula. Aliquam porttitor tortor tincidunt consequat scelerisque. Donec non mollis massa. Duis efficitur feugiat mi, vitae condimentum lectus tincidunt eu. Pellentesque in metus nec felis elementum laoreet. Aenean finibus odio turpis. Etiam rhoncus tempus nisi id aliquet.
        </p>
    </div>
</div>
