/*
    Colors
*/

$brand-primary: #212121;
$brand-secondary: #29B6F6;
$brand-teriary: #f1f3f4;

$brand-black: #212121;
$brand-white: #FFFFFF;
$font-color: #616161;
$header-nav-color: $brand-white;
$h-font-color: $brand-black;
$error-msg-bg: #B00020;
$success-msg-bg: #00C853;

/*
    Border
*/

$border-color: rgba(0,0,0,.12);
$border-sm: solid 1px $border-color;
$divider-sm: solid 1px #9E9E9E;

/*
    Box Shadow
*/

$box-shadow: 0 2px 4px rgba(0,0,0,.5);