.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height:100%;
  width:100%;
  z-index:99999;
  background-color:rgba(74,74,74,.8);
}

.spinner {
  transform: translate(-50%,-50%);
}

